<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.inholland.myvitality">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".VitalityApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:theme="@style/AppTheme"
            android:exported="true" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.challenge.ChallengeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.timelinepost.TimelinePostActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.timeline.TimelineLikedActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.timelinepost.create.CreateTimelinePostActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.register.RegisterActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.register.RegisterDetailsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.register.RegisterDetails2Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>